@import url('https://fonts.googleapis.com/css2?family=Sansita:ital@0;1&display=swap');

/* :root {
    --color-primary: #00ccff;
  } */

* {
    border: 1px dashed black;
    font-family: 'Sansita', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header, footer{
    background-color: #14110f;
    font-family: 'Sansita', sans-serif;
}

footer{
    color: #a4c2a5;
    padding-left: 43%;
}

body{
    background-color: #d8dad3;
}

#container{
    padding: 5%;
}

.nav-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 10px;
    padding: 10px 8px;
}

.nav-ul li{
    list-style: none;
    background-color:#a4c2a5;
    font-family: 'Roboto-slab', sans-serif;
}

.nav-logo{
    aspect-ratio: 16/9;
    width: 25%;
}
.nav-ul a{
    list-style: none;
    text-decoration: none;
    color: #14110f;
    font-family: 'Roboto-slab', sans-serif;
}

.carousel-games{
    display: flex;
    padding: 1%;
}

.carousel-image{
    margin: 5px;
}

.game-section{
    /* max-width: 90%; */
}

.game-section-header{
    padding: 2px;
    color:  #387780;;
}

.game-section-list {
 --game-list-gap: 1em;
 display: flex;
 align-items: flex-start;
 flex-wrap: wrap;
 gap: var(--game-list-gap);
}

.game-section-list a{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    aspect-ratio: 16/9;
    width: calc(20% - var(--game-list-gap));
}
