@import url('https://fonts.googleapis.com/css2?family=Sansita:ital@0;1&display=swap');

:root {
    --game-list-gap: 1vw;
  }

* {
    /* border: 1px dashed black; */
    font-family: 'Sansita', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header, footer{
    background-color: #14110f;
    font-family: 'Sansita', sans-serif;
}

header > h1{
    margin: 0;
}

footer{
    color: #a4c2a5;
    padding-left: 43%;
}

body{
    background-color: #d8dad3;
}

#container{
    padding: 5%;
}

.hidden{
    /* display: none !important; */
    bottom: -100%;
}

.trueHidden{
    display: none !important;
}

nav{
    background-color: #14110f;
    border-bottom: 5px solid #a4c2a5;
}

.nav-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-layout >*{
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 auto;
}

.nav-logo > img{
    height: clamp(150px, 300px, 50px);
    /*height: clamp(min, max, flexibility)*/
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0px;
    /* padding: 10px 8px; */
}

.nav-ul li{
    list-style: none;
    background-color:#a4c2a5;
    font-family: 'Roboto-slab', sans-serif;
    padding: 1%;
    white-space: nowrap;
    border-radius: 15%;
}

.nav-ul li:hover{
    background-color:#cbddcb;
}


/* .nav-logo-span{
    display: block;
} */

img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.nav-ul a{;
    list-style: none;
    text-decoration: none;
    color: #14110f;
    font-family: 'Roboto-slab', sans-serif;
    padding: 0%;
}

.search-div{
    display: inline-flex;
}

.nav-search, .search-button{
    font-family: 'Roboto-slab', sans-serif;
    margin: 0px;
    padding: 0px;
}

.search-field{
    font-family: 'Roboto-slab', sans-serif;
    margin-right: 0px;
}

.search-button{
    margin: 0px;
    background-color:#a4c2a5;
}

.search-button:hover{
    cursor: pointer;
    background-color:#cbddcb;
}

/*API Statement Class*/
.api-info-statement{
    margin: 1%;
    display: center;
    text-align: center;
}

/*Image Positioning Classes*/
.banner-image-div{
    display:flex;
    justify-content: center;
}

.passive-banner-image-div{
    max-width: 80%;
    position: relative;
    margin-left: 10%;
}

.banner-image{
    max-width: 80%;
    display: center;
    position: relative;
}

/*Game Grid classes*/
.grid-games-section{
    margin-bottom: 1%;
}

.grid-games{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
    padding: 1%;
}

.grid-image{
    margin: 0%;
    padding: 0%;
    gap: 10%;
    object-fit: cover;
    height: 100%;
}

.grid-image:hover{
    transition: transform 300ms;
    transform: scale(1.4);
}

/*Game Flex  Classes*/
.game-section{
    /* max-width: 90%; */
}

.game-section-header, h1, h2, h3, h4, h5, h6 {
    padding: .3%;
    color:  #387780;
}

.game-section-list {
 display: flex;
 align-items: flex-start;
 flex-wrap: wrap;
 gap: var(--game-list-gap);
 /* background-color: rgba(20, 17,15, .2);
 padding: .5%; */
}

.game-section-list a{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    aspect-ratio: 16/9;
    width: calc(20% - var(--game-list-gap));
}

.flex-image{
    margin: 0%;
    padding: 0%;
    gap: 10%;
    object-fit: cover;
    height: 100%;
}

.game-section-list > a > div{
    position: relative;
    overflow: hidden;
}
.game-section-list > a > div > p.hidden{
    bottom: -100%;
}

.game-section-list > a > div > p{
    position: absolute;
    text-align: center;
    bottom: 0%;
    padding: 3%;
    background: linear-gradient(to top, #a4c2a5, rgba(203, 221, 203, 0%));
    color:#14110f;
    pointer-events: none;
    transition: bottom 300ms ease-in-out;
    left: 0; /*absolute positioning in pixels*/
    right: 0;
    /*use this feature in the future for mobile*/
    /* text-size-adjust: none;*/
}

/*About Us Classes*/

.element-stack-center{
    display: block;
    justify-content: center;
}

#about-us-h1{
    text-align: center;
    color:  #387780;
}

#mission-statement{
    text-align: center;
    margin: 0 10% 0 10%;
}

#text-organizer{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    text-align: center;
}

.au-buttons{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:  0%;
    padding: 1%;
}

.au-buttons button{
    border-style: none;
    margin: 1%;
    padding: 1%;
    min-width: 5%;
    border-radius: 20%;
    background-color:#a4c2a5;
}

.au-buttons button:hover{
    cursor: pointer;
    background-color:#cbddcb;
}

#text-organizer h2{
    color:  #387780;
}

#text-organizer div{
    max-width: 50%;
    padding: .5%;
}

#text-organizer p{
    padding: .7%;
}

#aus-paragraph{
    --au-paragraph-display: none;
   display: var(--au-paragraph-display);
}

#aue-paragraph{
    --au-paragraph-display: none;
    display: var(--au-paragraph-display);
}

/*Contact Us Classes*/
#form-format{
    /*not needed yet*/
}

.form-field{
    display: block;
    margin: 2%;
}

.textarea-above{
    vertical-align: top;
}

#contact-input-section{
    display: flex;
    flex-direction: column;
}

.file-button{
    display: center;
    padding: 1%;
}

#contact-button{
    margin: 1%;
}

/*Lesson Planner Page*/
.lp-dropdown{
    border-radius: 3%;
    background-color: rgba(164, 194, 165, .6);
    display: flex;
    justify-content: center;
    padding: .3%;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#weekplanner:hover{
    cursor: pointer;
}

.lp-image{
    max-width: 10%;
}

.center-header{
    text-align:center;
}

.lp-result-info{
    display: flex;
    justify-content: center;
}

.lp-result-text{
    max-width: 40%;
    margin: .2%;
    padding: .5%;
}

/*Game List Page*/
.gl-search-tools{
    display: inline;
}

.gl-search-tools > .search-div{
    display: flex;
    justify-content: center;
    padding: .3%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gl-search-tools > .form-field{
    display: flex;
    justify-content: center;
}

#feedback{
    cursor: pointer;
}

/*Game Specific Page*/

.gs-image-div{
    display:flex;
    justify-content: center;
    margin-bottom: .5%;
}

#gs-image{
    min-width: 40%;
    max-width: 75%;
    background-color: rebeccapurple;
}

#gs-order{
    display: flex;
    justify-content: center;
    margin-bottom: .5%;
}

.gs-order-small{
    display: block;
    margin: .2%;
    padding: .5%;
}

.gs-order-small > h3, p{
    padding: .5%;
}

.comment-button{
    padding: .2%
}

.comment-button:hover{
    cursor: pointer;
}

#comments{
    resize: none;
}
/* .comment-record-div{
    margin-top: 1%;
    background-color: whitesmoke;
} */

.comment-record{
    resize: none;
}

/*Multiplayer Page*/

.select-multiplayer-container{
    background-color: rgba(20, 17,15, .2);
    display: flex;
    padding: .5%;
}

.select-multiplayer-image{
    width: 50%;
    justify-content: left;
}

.multiplayer-game-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 1% 0% 1%;
}

.multiplayer-game-information > h2{
    text-align: center;
}

.multiplayer-game-information > p{
    text-align: center;
    max-width: 70%;
    margin-bottom: 1.5%;
}

.multiplayer-game-information > input{
    text-align: center;
    border-radius: 15%;
    background-color: #a4c2a5;
    padding: 2%;
}

.multiplayer-game-information > input:hover{
    cursor: pointer;
}

@media (max-width: 1024px){

    .nav-layout{
        flex-direction: column;
        align-items: stretch;
        gap: 3em;
    }

    .select-multiplayer-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select-multiplayer-image{
        width: 55%;
    }

    .search-div{
        margin-bottom: 1vw;
    }
}

@media (max-width: 549px){
    :root {
        --game-list-gap: .5em;
      }

    .hidden--mobile {
      display: none !important;
    }

    nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    nav > i {
        padding: 1%;
        font-size:2em;
    }

    .nav-ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }

    .grid-games{
        display: grid;
        grid-template-columns:33.3% 33.3% 33.3%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }

    .game-section-list a{
        width: calc(40% - var(--game-list-gap));
    }

    #gs-order{
        display: block;
    }

    .gl-search-tools > .search-div{
        bottom: 8%;
    }
}

@media (min-width: 550px){
    nav > .fa-bars {
        display: none;
      }
}
